**/build/
**/cam_ubuntu/
**/.vscode/
**/__pycache__/
**/.cache/
mesh_aligned_0.05point_cloud.txt
**/test
**/scannetpp_init/
**/scannetpp_modify/
**/initdata/
**/scannet_data/*
**/archive/
line_map_extractor/out/**/*.jpg
line_map_extractor/out/**/*.ply
line_map_extractor/out/**/*.npy
csv_dataset/**/*.csv
csv_dataset/**/*.mat
**/codegen/*
**/*.prj
matlab/debug/*
dataset/*
/**/backup/
scannetpp/outputs/*
**/log.txt
**/records/*